<h1>Welcome to Mr Hing's Classes</h1>
<div class="intro-paragraph">
	Welcome to Mr Hing's Class!<br>
	To get started, register for one of the available courses <%= link_to "here", courses_path %>.<br>
	Once approved, you'll be able to take advantage of the following features
	<ul>
		<li>News and Announcements</li>
		<li>Discussion Boards</li>
	</ul>
</div>