<li>
	<div class="resource-header"><%= resource.name %></div>
	<div class="resource-description"><%= resource.description %>
		<div class="resource-download">
			<%= link_to "Download", resource.file.url %>
		</div>
	</div>
</li>