<% unless @course.nil? %>
	<div class="course-menu">
		<span class="course-menu-header">
			<%= @course.name %> Menu:
		</span>
		<%= link_to "Home", @course %> | 
		<%= link_to "News", course_news_posts_path(@course) %> |
		<%= link_to "Discussion Board", course_topics_path(@course) %>
	</div>
<% end %>