<h1>Listing courses</h1>
<table class="standard-listing">
	<tr>
		<th>Course</th>
		<th></th>
		<% if admin? %>
			<th></th>
		<% end %>
	</tr>
	<%= render @courses %>
</table>
<br />
<% if admin? %>
	<%= link_to 'New Course', new_course_path %>
<% end %>
