<li>
	<%= "#{course_registration.user.full_name} #{course_registration.course.name}" %>
	<% if course_registration.approved %>
	Approved
	<% else %>
	<%= link_to "Approve", :controller => :course_registrations, :id => course_registration.id, :action => :approve %>
	<% end %>
</li>