/* General */
body {
	margin: 0px;
	font-family: Arial;
}

/* Header */
.header {
	color:white;
	background:black;
	padding: 10px;
	height: 55px;
	a {
		color:white;
	}
}

.account-menu {
	float:right;
}

.main-menu {
	float:left;
}

/* Main Body */
.main-body {
}

.main-body-table-layout {
	height:1000px;
	border-collapse:collapse;
	td {
		vertical-align:top;
		padding: 10px;
		
		&.side-menu {
			background:#eee;
			width:160px;
		}
	}
}

/* Flashes */
.flash {
	border: 2px solid;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	background:#eee;
}

.error {
	border-color: red;
}

.success {
	border-color: green;
}

.notice {
	border-color: black;
}