/* General */
body {
	margin: 0px;
	font-family: Arial;
}

/* Header */
.header {
	color:white;
	background:black;
	padding: 10px;
	height: 55px;
	a {
		color:white;
	}
}

.account-menu {
	float:right;
}

.main-menu {
	float:left;
}

/* Main Body */
.main-body {
}

.main-body-table-layout {
	height:1000px;
	width:95%;
	border-collapse:collapse;
	td {
		vertical-align:top;
		padding: 10px;
		
		&.side-menu {
			background:#eee;
			width:160px;

			h1 {
				font-size: 15px;
			}
		}
	}
}

/* Flashes */
.flash {
	border: 2px solid;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	background:#eee;
}

.error {
	border-color: red;
}

.success {
	border-color: green;
}

.notice {
	border-color: green;
}

/* Links */
.button {
	padding: 8px;
	background:#47698B;
	color:white;
	border-radius: 5px;
	text-decoration:none;
	&:visited {
		color:white
	};
	&:hover {
		background:#718199;
		color:white;
	}
}

/* Forms */
input, textarea {
	width: 400px;
	border-radius: 5px;
	border-color:#333;
	border: 1px solid;
	padding: 5px;
}