// Place all the styles related to the DiscussionPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.discussion-posts {
	padding-left: 0px;
	list-style:none;
	
	li {
		padding: 5px;
		border-top:1px solid;
		border-left:1px solid;
		border-color: #888;
		margin-bottom: 10px;
		
		.discussion-post-header {
			font-style:italic;
		}
		
		background: #e1e8f2; /* Old browsers */
		background: -moz-linear-gradient(top, #e1e8f2 0%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e8f2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e1e8f2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e1e8f2 0%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e1e8f2 0%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom, #e1e8f2 0%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e8f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		
	}
	
}

.nested-discussion-posts {
	margin-left:30px;
}

.nested-discussion-posts .nested-discussion-posts .nested-discussion-posts .nested-discussion-posts .nested-discussion-posts .nested-discussion-posts {
	margin-left:0px;
}