// Place all the styles related to the NewsPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-board {
	background:#eee;
	padding: 20px;
	border: 1px solid;
	border-color:black;
	border-radius: 10px;
	width: 90%;
	h2 {
		background:black;
		color:white;
		padding: 20px;
		border-radius: 10px;
		margin-top:10px;
	}
	
	.news-posts {
		padding-left:0px;
		list-style:none;
	}
	
	.news-post-header {
		background:#444;
		color:white;
		padding: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		
		.news-post-header-date {
			font-size:10px;
			font-weight:normal;
			font-style:italic;
		}
		
		.news-post-actions {
			float:right;
			position:relative;
			top:-25px;

			a {
				color:#CCC;
				background:#444;
				text-decoration:none;
				&:hover {
					color:#FFF;
				};
			}
		}
		
		
		h3 {
			margin: 0 0 0 0;
		}
	}
	
	.news-post-body {
		background:white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-bottom: 20px;
		padding: 10px;
	}
	
	
}