// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resources {
	list-style:none;
	padding-left: 0;
	
	width: 50%;
	
	li {
		border-radius: 10px;
		background: #eee;
		margin-bottom: 10px;


	
		.resource-header {
			border-radius: 0 10px 0 0px;
			font-size: 15px;
			background:#555;
			color:white;
			padding: 8px;
			
			.resource-actions {
				float:right;
				margin-right: 10px;
			}
		}
		
		.resource-action-button {
			float:right;
			margin: 0 5px;
			font-size: 12px;
			display:block;
			background: white;
			border-radius: 3px;
			padding: 2px 5px;
			text-decoration: none;
			
			background: #5e1e1e; /* Old browsers */
			background: -moz-linear-gradient(top,  #5e1e1e 0%, #ce4c4c 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e1e1e), color-stop(100%,#ce4c4c)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #5e1e1e 0%,#ce4c4c 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #5e1e1e 0%,#ce4c4c 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #5e1e1e 0%,#ce4c4c 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #5e1e1e 0%,#ce4c4c 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e1e1e', endColorstr='#ce4c4c',GradientType=0 ); /* IE6-9 */


			box-shadow: inset 0px 1px 0px white, 1px 1px 1px black;
			
			color:white;
			
			&:hover {
				background: #606060; /* Old browsers */
				background: -moz-linear-gradient(top,  #606060 0%, #d1d1d1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #606060 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #606060 0%,#d1d1d1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #606060 0%,#d1d1d1 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #606060 0%,#d1d1d1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */


				color:white;
			}
		}
		
		.resource-description {
			padding: 5px;
			border: 1px solid;
			border-color:#555;
		}
		
		.resource-download {
		}
	}
}