table.users-listing {
	border-collapse: collapse;
	tr {
		td {
			border: 1px solid;
			border-color: #eee;
			padding:30px;
		}
	}
}

tr.admin-row {
	background: #FDE0D4;
}

tr.teacher-row {
	background: #CBE7F6;
}