<p>
	<%= @response_post.posted_by %> has responded to your discussion post.
</p>

<p>
	Your original posting:<br>
	<%= @original_post.body %>
</p>

<p>
	<%= @response_post.posted_by %>'s response:<br>
	<%= @response_post.body %>
</p>