<h2>Course Registration approved!</h2>
<p>
	Dear <%= @user.full_name %>
</p>
<p>
	Congratulations. Your registration for <%= @course.name %> has been approved.<br/>
	You now have access to News, Resources, Discussion Boards and more!<br/>
</p>